{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Security Verification</h3>
    <div class="box">
        {% include 'flash_messages.html' %}
        
        <form method="POST" action="{{ url_for('auth.verify_security_answer') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="field">
                <label class="label">{{ security_question }}</label>
                <div class="control">
                    <input class="input" type="text" name="security_answer" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary">Verify</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} 