blinker
certifi
cffi
charset-normalizer
click
cryptography
Deprecated
Flask
Flask-Limiter
Flask-Login
Flask-SQLAlchemy
idna
importlib-resources
itsdangerous
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
ordered-set
packaging
pycparser
Pygments
python-dotenv
requests
resend
rich
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wrapt